body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWys_xt2rjwvCxJ8USzW2odJSLObxmB4VjQA&s');
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    text-align: center;
}

.image-container {
    margin-bottom: 20px;
}

.image-container img {
    width: 75%;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.love-letter {
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
}

.love-letter h2 {
    color: #d9534f;
    font-size: 1.5rem;
    margin-bottom: 10px;
}